!!!
%html
  %head
    %title Create Article
  %body
    %form{"method" => "post", "action" => "/create_article/"}
      Title
      %input{"type" => "text", "name" => "title"}
      Content
      %textarea{"name" => "content"}
      Category
      %select{"name" => "category"}
        - @categories.each do |category|
          %option{"value" => category.id}= category.name
      %input{"type" => "submit", "value" => "Post"}
      - if !@errors.nil?
        %div= @errors
