!!!
%html
  %head
    %title Index
  %body
    %div
      %a{"href" => "/users/"} Users
      %a{"href" => "/login/"} Login
      %a{"href" => "/logout/"} Logout
      %a{"href" => "/registration/"} Registration
