!!!
%html
  %head
    %title Login
  %body
    %form{"method" => "post", "action" => "/login/"}
      %input{"type" => "text", "name" => "user_name"}
      %input{"type" => "password", "name" => "password"}
      %input{"type" => "submit"}
      - if !@error.nil?
        %div= @error
