!!!
%html
  %head
    %title Users
  %body
    %ul
      - @users.each do |entry|
        %li
          %a{"href" => "/user/" + entry.user_name}= entry.user_name + ", Rank: " + (entry.is_admin ? "Admin" : "User")
